{extends layout.latte}

{block title}Home{/block}

{block body}
    <div class="container">
        <h1>APV semestral project</h1>
        <p>Web application for recording persons and contacts. </p>
        <p>Created by Michal Kucera</p>
    </div>
{/block}