{extends layout.latte}

{block title}Update relationship{/block}

{block body}
    <div class="container">
        <h1>Update relationship</h1>
        <br>

        {include relationForm.latte, buttonTitle => 'Update', type => 'update'}
    </div>
{/block}