{extends layout.latte}

{block title}Update person{/block}

{block body}
    <div class="container">
        <h1>Update person</h1>
        <br>

        {include personForm.latte, buttonTitle => 'Update', type => 'update'}
    </div>
{/block}